body {
    font-family: Arial, sans-serif;
}

.auth-section {
    position: absolute;
    top: 50%; 
    left: 50%;     
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.auth-container {
    display: flex;
    flex-direction: column;
    border: 2px solid lightgrey;
    padding: 20px;
    border-radius: 5px;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

#login-form,
#register-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    min-width: 100%; /* Make input fields take the full container width */
    box-sizing: border-box; /* Includes padding and border in the element's width */
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: opacity 0.3s;
    max-width: 200px;
}

button:hover {
    opacity: 0.8;
}

#calculator,
#calculation-settings,
#computing-resources {
    margin: 20px;
    padding: 20px;
    border: 2px solid lightgrey;
    border-radius: 5px;
}

input[type="text"],
input[type="number"] {
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 22px);
    display: block;
}

button {
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

.calculation-result {
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    background-color: rgb(181, 7, 7);
}

.calculator-buttons {
    display: flex;
}

.calculation-result > div {
    margin-bottom: 5px;
}

.calculation-result > div:last-child {
    margin-bottom: 0;
}

.calculation-result.error {
    background-color: rgb(181, 7, 7);
}

.calculation-result.success {
    background-color: #4CAF50;
}

.calculation-result.pending {
    background-color: gray;
}

.server-status {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.server-status p {
    margin: 5px 0;
}

.server-status.running {
    background-color: #4CAF50;
    color: white;
}

.server-status.error {
    background-color: rgb(181, 7, 7);
    color: white;
}